body {
  padding-top: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
.slidecontainer {
  width: 100%;
}
.form-group input[type="checkbox"] {
display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}
.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
span, label, div {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0;
  border-collapse: collapse;
}
table, tr, td, th, tbody {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-bottom: 0;
  padding: 5px;
  border-spacing: 0px;
  border-collapse: collapse;
  /*border: 1px solid black;*/
}
body {
  position: relative;
}
.panel-group, .panel {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  border: none;
}
.navbar, .collapse, .navbar-collapse {
  margin-bottom: 0;
  margin-top: 0;
}

.slider.slider-horizontal{
 width:95% !important;
 }
